<div class="form-site__top">
    <div class="form-site__title">לבקמה יטרפ</div>
    <div class="form-site__icon">
        <svg class="icon ic-card" width="23" height="20">
            <use xlink:href="#ic-card"></use>
        </svg>
    </div>
</div>

<div class="form-site__item">
    <div class="form-site__label">שם מלא</div>
    <div class="form-site__field">
        <input type="text">
    </div>
</div>

<div class="form-site__item-wrap">
    <div class="form-site__item">
        <div class="form-site__label">דוא“ל</div>
        <div class="form-site__field">
            <input type="text">
        </div>
    </div>
    <div class="form-site__item">
        <div class="form-site__label">טלפון נייד</div>
        <div class="form-site__field">
            <input type="text">
        </div>
    </div>
</div>

<div class="form-site__item">
    <div class="form-site__label">לבקמה תבותכ:</div>
    <div class="form-site__field">
        <div class="input-check">
            <input id="checkbox1" type="checkbox" checked="checked">
            <label class="input-check__label" for="checkbox1"><span class="input-check__mark">
                    <svg class="icon ic-check" width="12" height="10">
                        <use xlink:href="#ic-check"></use>
                    </svg></span><span class="input-check__text">פרטי</span></label>
        </div>
        <div class="input-check">
            <input id="checkbox2" type="checkbox">
            <label class="input-check__label" for="checkbox2"><span class="input-check__mark">
                    <svg class="icon ic-check" width="12" height="10">
                        <use xlink:href="#ic-check"></use>
                    </svg></span><span class="input-check__text">משרד</span></label>
        </div>
    </div>
</div>

<div class="form-site__item">
    <div class="form-city">
        <div class="form-city__icon">
            <svg class="icon ic-marker" width="14" height="22">
                <use xlink:href="#ic-marker"></use>
            </svg>
        </div>
        <div class="form-city__label">העיר שלך</div>
        <div class="choose">
            <div class="choose__def">םילשורי</div>

            <app-select-city-popup></app-select-city-popup>

        </div>
    </div>
</div>

<div class="form-site__item-col-3">
    <div class="form-site__item">
        <div class="form-site__label">בית מס':</div>
        <div class="form-site__field">
            <input type="text">
        </div>
    </div>
    <div class="form-site__item">
        <div class="form-site__label">דירה:</div>
        <div class="form-site__field">
            <input type="text">
        </div>
    </div>
    <div class="form-site__item">
        <div class="form-site__label">קומה:</div>
        <div class="form-site__field">
            <input type="text">
        </div>
    </div>
</div>