<div class="basket-unwrap">
    <div class="basket-unwrap__head">
        <div class="basket-unwrap__info">
            <div class="basket-unwrap__num">4</div>
            <div class="basket-unwrap__title">בחירת אמצעי תשלום</div>
        </div>
        <div class="basket-unwrap__icon">
            <svg class="icon ic-payment" width="26" height="24">
                <use xlink:href="#ic-payment"></use>
            </svg>
        </div>
    </div>

    <!-- Ниже нужно будет в зависимости от пропсов показивать разные компоненты -->
    <app-order-delivery-method style="display: none;"></app-order-delivery-method>
    <!-- <app-order-info-about-client style="display: none;"></app-order-info-about-client>
    <app-payment-method style="display: none;"></app-payment-method> -->

</div>