<div class="form-site__top">
    <div class="form-site__title">פרטי האירוע</div>
    <div class="form-site__icon">
        <svg class="icon ic-date" width="24" height="22">
            <use xlink:href="#ic-date"></use>
        </svg>
    </div>
</div>
<div class="form-site__text">*שימו לב: הזמנות שיתקבלו לאחר השעה 18:00 יסופקו ביום שלמחרת, או במועד אחר
    שתציינו בהזמנה. ביום שישי וערב חג הזמנות יתקבלו עד השעה 13.00</div>
<div class="form-site__item">
    <div class="input-date">
        <div class="input-date__label">תאריך המשלוח</div>
        <div class="input-date__field">
            <input type="text" placeholder="  -  -  ">
        </div>
        <div class="input-date-btn">
            <div class="input-date-btn__icon">
                <svg class="icon ic-calendar" width="15" height="15">
                    <use xlink:href="#ic-calendar"></use>
                </svg>
            </div>

            <app-date-popup style="display: none;"></app-date-popup>

        </div>
    </div>
</div>
<div class="form-site__item-col-3">
    <div class="form-site__item">
        <div class="form-site__label">החל משעה</div>
        <div class="form-site__field">
            <input type="text">
        </div>
    </div>
    <div class="form-site__item">
        <div class="form-site__label">עד השעה</div>
        <div class="form-site__field">
            <input type="text">
        </div>
    </div>
</div>
<div class="form-site__item">
    <div class="form-city">
        <div class="form-city__label">סוג אירוע </div>
        <div class="choose">
            <div class="choose__def"></div>
            <div class="choose__list">
                <div class="choose__option">םילשורי1</div>
                <div class="choose__option">םילשורי2</div>
                <div class="choose__option">םילשורי3</div>
                <div class="choose__option">םילשורי4</div>
                <div class="choose__option">םילשורי5</div>
            </div>
        </div>
    </div>
</div>
<div class="form-site__item form-site__item_col">
    <div class="form-site__label">ברכה:</div>
    <div class="form-site__field">
        <textarea></textarea>
    </div>
</div>