<div class="goods-item goods-item_line"><a class="goods-item__img" href="#"><img src="/assets/img/flower1.jpg" alt=""></a>
  <div class="goods-item__content-wrap">
    <div class="goods-item__content">
      <div class="goods-item__top">
        <div class="goods-item__info">
          <div class="goods-item__title"><a href="#">שם מוצר</a></div>
          <div class="goods-item__text">תיאור קצר של טובין</div>
        </div>
        <div class="goods-item__prices d-none d-md-block"><span class="goods-item__cur-price">₪135</span><sup class="goods-item__old-price">₪160</sup></div>
      </div>
      <div class="goods-item__desc">בלשנות ארץ. שתפו משחקים למחיקה כתב גם, בה מתן הרוח משחקים התפתחות. ניהול ביולוגיה גם שכל, בה היום לרפובליקה תנך. על שתי העברית סוציולוגיה. אם לויקיפדים האטמוספירה אנא, או העיר קודמות מיתולוגיה אחד. תרבות רקטות ויקימדיה מלא דת, בה אנא סרבול בארגז הגולשות, שמו בהשחתה ארכיאולוגיה גם. ב כלים תורת לרפובליקה צ'ט, נבחרים לויקיפדים מה חפש.</div>
    </div>
    <div class="goods-item__action d-none d-md-flex"><a class="btn btn_border btn_green btn_radius" href="#">למד עוד</a><a class="btn btn_green btn_radius" href="#">לִקְנוֹת</a></div>
    <div class="goods-item__prices d-md-none"><span class="goods-item__cur-price">₪135</span><sup class="goods-item__old-price">₪160</sup></div>
  </div>
</div>
