<div class="form-site__top">
    <div class="form-site__title">פרטי המשלוח</div>
    <div class="form-site__icon">
        <svg class="icon ic-delivery-check" width="26" height="18">
            <use xlink:href="#ic-delivery-check"></use>
        </svg>
    </div>
</div>
<div class="form-site__item">
    <div class="form-site__label">שם המקבל</div>
    <div class="form-site__field">
        <input type="text">
    </div>
</div>
<div class="form-site__item-wrap">
    <div class="form-site__item">
        <div class="form-site__label">טלפון המקבל</div>
        <div class="form-site__field">
            <input type="text">
        </div>
    </div>
    <div class="form-site__item">
        <div class="form-site__label">טלפון נוסף</div>
        <div class="form-site__field">
            <input type="text">
        </div>
    </div>
</div>
<div class="form-site__item">
    <div class="form-site__field">
        <div class="input-check">
            <input id="checkbox1" type="checkbox" checked="checked">
            <label class="input-check__label" for="checkbox1"><span class="input-check__mark">
                    <svg class="icon ic-check" width="12" height="10">
                        <use xlink:href="#ic-check"></use>
                    </svg></span><span class="input-check__text">איסוף עצמי </span></label>
        </div>
    </div>
</div>
<div class="form-site__item-wrap">
    <div class="form-site__item">
        <div class="form-site__label">עיר</div>
        <div class="form-site__field">
            <div class="choose">
                <div class="choose__def"> </div>
                <div class="choose__list">
                    <div class="choose__option">םילשורי1</div>
                    <div class="choose__option">םילשורי2</div>
                    <div class="choose__option">םילשורי3</div>
                    <div class="choose__option">םילשורי4</div>
                    <div class="choose__option">םילשורי5</div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-site__item">
        <div class="form-site__label">רחוב</div>
        <div class="form-site__field">
            <input type="text">
        </div>
    </div>
</div>
<div class="form-site__item-col-3">
    <div class="form-site__item">
        <div class="form-site__label">מספר בית</div>
        <div class="form-site__field">
            <input type="text">
        </div>
    </div>
    <div class="form-site__item">
        <div class="form-site__label">קומה</div>
        <div class="form-site__field">
            <input type="text">
        </div>
    </div>
    <div class="form-site__item">
        <div class="form-site__label">דירה</div>
        <div class="form-site__field">
            <input type="text">
        </div>
    </div>
</div>
<div class="form-site__item form-site__item_col">
    <div class="form-site__label">הערות הזמנה </div>
    <div class="form-site__field">
        <textarea></textarea>
    </div>
</div>