<section class="bg-grey">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="delivery-line">
                    <div class="delivery-line__icon">
                        <svg class="icon ic-delivery-fill" width="26" height="19">
                            <use xlink:href="#ic-delivery-fill"></use>
                        </svg>
                    </div><span class="delivery-line__text">
                        אנו מספקים לאזור שלך עם אפשרויות משלוח מוגבלות. אנא צפה זמן אספקה ממושך <a href="#">למד
                            עוד</a></span>
                </div>
            </div>
        </div>
    </div>
</section>