<div class="swiper-slide">
    <div class="top-slider-item">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="top-slider-item__slide">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="top-slider-item__img-wrap">
                                    <div class="top-slider-item__img"><img src="/assets/img/flower-big.png" alt="">
                                        <div class="top-slider-item__prices">
                                            <div class="top-slider-item__old-price">₪100</div>
                                            <div class="top-slider-item__cur-price">₪85</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 order-first order-lg-1">
                                <div class="top-slider-item__content">
                                    <div class="top-slider-item__title">כותרת מבצע מבצע2</div>
                                    <div class="top-slider-item__text">מיזמים ליצירתה שער מה והוא נבחרים
                                        ארכיאולוגיה. מאמרשיחהצפה
                                        עוד ב, רבה לטיפול לעברית על, פיסול בדפים סדר מה. מה החלה נפלו כדי, גם
                                        עמוד סרבול הקהילה כדי.
                                    </div><a class="btn" href="#">למד עוד</a>
                                    <div class="swiper-pagination"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>