
<main>
  <div class="breadcrumb-wrap d-none d-md-block">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <ul class="breadcrumb">
            <li class="breadcrumb__item"><a class="breadcrumb__link" href="/">
              <svg class="icon ic-home" width="16" height="14">
                <use xlink:href="assets/sprites/sprite.svg#ic-home"></use>
              </svg>בית</a></li>
            <li class="breadcrumb__item"><a class="breadcrumb__link" href="#">סל קניות</a></li>
            <li class="breadcrumb__item"><a class="breadcrumb__link" href="#">מזמין</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="basket-wrap">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>סל קניות</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-8">
          <div class="basket-table-wrap">
            <table class="basket-table">
              <thead>
              <tr class="basket-table__head">
                <th>מוצר</th>
                <th class="basket-table_center">מחיר</th>
                <th class="basket-table_center">כמות</th>
                <th class="basket-table_center">סכום ביניים</th>
                <th>
                  <svg class="icon ic-basket-fill" width="19" height="18">
                    <use xlink:href="assets/sprites/sprite.svg#ic-basket-fill"></use>
                  </svg>
                </th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td class="basket-table__main">
                  <div class="basket-table__info">
                    <div class="basket-table__del">
                      <svg class="icon ic-close" width="12" height="12">
                        <use xlink:href="assets/sprites/sprite.svg#ic-close"></use>
                      </svg>
                      <div class="basket-table__del-text">לִמְחוֹק</div>
                    </div>
                    <div class="basket-table__img" style="background-image:url(assets/img/basket-img.jpg)"></div>
                    <div class="basket-table__content">
                      <div class="basket-table__name">שם מוצר</div>
                      <div class="basket-table__desc">תיאור קצר של טובין</div>
                    </div>
                  </div>
                </td>
                <td class="basket-table__price">₪135
                </td>
                <td class="basket-table__counter">
                  <div class="counter">
                    <div class="counter__min">
                      <svg class="icon ic-minus" width="14" height="1">
                        <use xlink:href="assets/sprites/sprite.svg#ic-minus"></use>
                      </svg>
                    </div>
                    <input class="counter__input" type="text" value="1">
                    <div class="counter__max">
                      <svg class="icon ic-plus" width="14" height="14">
                        <use xlink:href="assets/sprites/sprite.svg#ic-plus"></use>
                      </svg>
                    </div>
                  </div>
                </td>
                <td class="basket-table__price">₪135
                </td>
                <td class="basket-table__buy"></td>
              </tr>
              <tr>
                <td class="basket-table__main">
                  <div class="basket-table__info">
                    <div class="basket-table__del">
                      <svg class="icon ic-close" width="12" height="12">
                        <use xlink:href="assets/sprites/sprite.svg#ic-close"></use>
                      </svg>
                      <div class="basket-table__del-text">לִמְחוֹק</div>
                    </div>
                    <div class="basket-table__img" style="background-image:url(assets/img/basket-img.jpg)"></div>
                    <div class="basket-table__content">
                      <div class="basket-table__name">שם מוצר</div>
                      <div class="basket-table__desc">תיאור קצר של טובין</div>
                    </div>
                  </div>
                </td>
                <td class="basket-table__price">₪135
                </td>
                <td class="basket-table__counter">
                  <div class="counter">
                    <div class="counter__min">
                      <svg class="icon ic-minus" width="14" height="1">
                        <use xlink:href="assets/sprites/sprite.svg#ic-minus"></use>
                      </svg>
                    </div>
                    <input class="counter__input" type="text" value="2">
                    <div class="counter__max">
                      <svg class="icon ic-plus" width="14" height="14">
                        <use xlink:href="assets/sprites/sprite.svg#ic-plus"></use>
                      </svg>
                    </div>
                  </div>
                </td>
                <td class="basket-table__price">₪270
                </td>
                <td class="basket-table__buy"></td>
              </tr>
              <tr>
                <td class="basket-table__main">
                  <div class="basket-table__info">
                    <div class="basket-table__del">
                      <svg class="icon ic-close" width="12" height="12">
                        <use xlink:href="assets/sprites/sprite.svg#ic-close"></use>
                      </svg>
                      <div class="basket-table__del-text">לִמְחוֹק</div>
                    </div>
                    <div class="basket-table__img" style="background-image:url(assets/img/basket-img.jpg)"></div>
                    <div class="basket-table__content">
                      <div class="basket-table__name">שם מוצר</div>
                      <div class="basket-table__desc">תיאור קצר של טובין</div>
                    </div>
                  </div>
                </td>
                <td class="basket-table__price">₪135
                </td>
                <td class="basket-table__counter">
                  <div class="counter">
                    <div class="counter__min">
                      <svg class="icon ic-minus" width="14" height="1">
                        <use xlink:href="assets/sprites/sprite.svg#ic-minus"></use>
                      </svg>
                    </div>
                    <input class="counter__input" type="text" value="1">
                    <div class="counter__max">
                      <svg class="icon ic-plus" width="14" height="14">
                        <use xlink:href="assets/sprites/sprite.svg#ic-plus"></use>
                      </svg>
                    </div>
                  </div>
                </td>
                <td class="basket-table__price">₪135
                </td>
                <td class="basket-table__buy"></td>
              </tr>
              </tbody>
            </table><a class="basket-more" href="#"><span class="basket-more__text">לעדכן סל קניות</span>
            <div class="basket-more__icon">
              <svg class="icon ic-refresh" width="16" height="16">
                <use xlink:href="assets/sprites/sprite.svg#ic-refresh"></use>
              </svg>
            </div></a>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="basket-total">
            <div class="basket-total__top">
              <div class="basket-total__title">סה"כ בסל הקניות</div>
              <div class="basket-total__icon">
                <svg class="icon ic-order" width="21" height="20">
                  <use xlink:href="assets/sprites/sprite.svg#ic-order"></use>
                </svg>
              </div>
            </div>
            <div class="basket-total__content">
              <div class="basket-total-item">
                <div class="basket-total-item__label">סכום ביניים</div>
                <div class="basket-total-item__price">₪540</div>
              </div>
              <div class="basket-total-about">
                <div class="basket-total-about__title">משלוח</div>
                <div class="basket-total-about__text">עלויות המשלוח מחושבות במהלך התשלום בקופה.</div>
              </div>
            </div>
            <div class="basket-total-res">
              <div class="basket-total-res__label">סה"כ</div>
              <div class="basket-total-res__price">₪540</div>
            </div>
            <div class="basket-total__btn"><a class="btn btn_green btn_radius" href="#">מעבר לתשלום</a><a class="btn btn_border btn_green btn_radius" href="#">להוסיף מוצר נוסף</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="slider-goods-wrap">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="swiper-container slider-goods js-slider-goods">
            <div class="slider-goods__top">
              <div class="slider-goods__title slider-goods__title_small">
                <svg class="icon ic-check-list" width="24" height="21">
                  <use xlink:href="assets/sprites/sprite.svg#ic-check-list"></use>
                </svg>הנמזהל םימילשמ םירצומ תפסוה
              </div>
              <div class="swiper-pagination"></div>
            </div>
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="goods-item"><a class="goods-item__img" href="#"><img src="/assets/img/flower1.jpg" alt=""></a>
                  <div class="goods-item__content">
                    <div class="goods-item__title"><a href="#">שם מוצר</a></div>
                    <div class="goods-item__text">תיאור קצר של טובין</div>
                    <div class="goods-item__prices"><span class="goods-item__cur-price">₪135</span><sup class="goods-item__old-price"></sup></div>
                  </div>
                  <div class="goods-item__action"><a class="btn" href="#">
                    <svg class="icon ic-basket" width="20" height="18">
                      <use xlink:href="assets/sprites/sprite.svg#ic-basket"></use>
                    </svg><span>בזבל</span></a><a class="btn btn_border" href="#">פרטים נוספים</a></div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="goods-item"><a class="goods-item__img" href="#"><img src="/assets/img/flower12.jpg" alt=""></a>
                  <div class="goods-item__content">
                    <div class="goods-item__title"><a href="#">שם מוצר</a></div>
                    <div class="goods-item__text">תיאור קצר של טובין</div>
                    <div class="goods-item__prices"><span class="goods-item__cur-price">₪135</span><sup class="goods-item__old-price"></sup></div>
                  </div>
                  <div class="goods-item__action"><a class="btn" href="#">
                    <svg class="icon ic-basket" width="20" height="18">
                      <use xlink:href="assets/sprites/sprite.svg#ic-basket"></use>
                    </svg><span>בזבל</span></a><a class="btn btn_border" href="#">פרטים נוספים</a></div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="goods-item"><a class="goods-item__img" href="#"><img src="/assets/img/flower5.jpg" alt=""></a>
                  <div class="goods-item__content">
                    <div class="goods-item__title"><a href="#">שם מוצר</a></div>
                    <div class="goods-item__text">תיאור קצר של טובין</div>
                    <div class="goods-item__prices"><span class="goods-item__cur-price">₪135</span><sup class="goods-item__old-price"></sup></div>
                  </div>
                  <div class="goods-item__action"><a class="btn" href="#">
                    <svg class="icon ic-basket" width="20" height="18">
                      <use xlink:href="assets/sprites/sprite.svg#ic-basket"></use>
                    </svg><span>בזבל</span></a><a class="btn btn_border" href="#">פרטים נוספים</a></div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="goods-item"><a class="goods-item__img" href="#"><img src="/assets/img/flower4.jpg" alt=""></a>
                  <div class="goods-item__content">
                    <div class="goods-item__title"><a href="#">שם מוצר</a></div>
                    <div class="goods-item__text">תיאור קצר של טובין</div>
                    <div class="goods-item__prices"><span class="goods-item__cur-price">₪135</span><sup class="goods-item__old-price"></sup></div>
                  </div>
                  <div class="goods-item__action"><a class="btn" href="#">
                    <svg class="icon ic-basket" width="20" height="18">
                      <use xlink:href="assets/sprites/sprite.svg#ic-basket"></use>
                    </svg><span>בזבל</span></a><a class="btn btn_border" href="#">פרטים נוספים</a></div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="goods-item"><a class="goods-item__img" href="#"><img src="/assets/img/flower5.jpg" alt=""></a>
                  <div class="goods-item__content">
                    <div class="goods-item__title"><a href="#">שם מוצר</a></div>
                    <div class="goods-item__text">תיאור קצר של טובין</div>
                    <div class="goods-item__prices"><span class="goods-item__cur-price">₪135</span><sup class="goods-item__old-price"></sup></div>
                  </div>
                  <div class="goods-item__action"><a class="btn" href="#">
                    <svg class="icon ic-basket" width="20" height="18">
                      <use xlink:href="assets/sprites/sprite.svg#ic-basket"></use>
                    </svg><span>בזבל</span></a><a class="btn btn_border" href="#">פרטים נוספים</a></div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="goods-item"><a class="goods-item__img" href="#"><img src="/assets/img/flower6.jpg" alt=""></a>
                  <div class="goods-item__content">
                    <div class="goods-item__title"><a href="#">שם מוצר</a></div>
                    <div class="goods-item__text">תיאור קצר של טובין</div>
                    <div class="goods-item__prices"><span class="goods-item__cur-price">₪135</span><sup class="goods-item__old-price"></sup></div>
                  </div>
                  <div class="goods-item__action"><a class="btn" href="#">
                    <svg class="icon ic-basket" width="20" height="18">
                      <use xlink:href="assets/sprites/sprite.svg#ic-basket"></use>
                    </svg><span>בזבל</span></a><a class="btn btn_border" href="#">פרטים נוספים</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

