<div class="form-site__top">
    <div class="form-site__title">פרטי חיוב</div>
    <div class="form-site__icon">
        <svg class="icon ic-card" width="23" height="20">
            <use xlink:href="#ic-card"></use>
        </svg>
    </div>
</div>
<div class="form-site__item-wrap">
    <div class="form-site__item">
        <div class="form-site__label">שם פרטי</div>
        <div class="form-site__field">
            <input type="text">
        </div>
    </div>
    <div class="form-site__item">
        <div class="form-site__label">שם משפחה</div>
        <div class="form-site__field">
            <input type="text">
        </div>
    </div>
</div>
<div class="form-site__item form-site__item_col">
    <div class="form-site__label">שם משפחהשם עבור החשבונית (במידה ושונה משם המזמין)</div>
    <div class="form-site__field">
        <input type="text">
    </div>
</div>
<div class="form-site__item-wrap">
    <div class="form-site__item">
        <div class="form-site__label">כתובת אימייל </div>
        <div class="form-site__field">
            <input type="text">
        </div>
    </div>
    <div class="form-site__item">
        <div class="form-site__label">טלפון</div>
        <div class="form-site__field">
            <input type="text">
        </div>
    </div>
</div>
<div class="form-site__item-wrap">
    <div class="form-site__item">
        <div class="form-site__label">ארץ</div>
        <div class="form-site__field">
            <input type="text">
        </div>
    </div>
</div>