<footer class="footer">
  <div class="advant-wrap bg-grey">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="advant">
            <div class="advant__item order-3 order-lg-1">
              <div class="advant__icon">
                <svg class="icon ic-bonus" width="55" height="38">
                  <use xlink:href="#ic-bonus"></use>
                </svg>
              </div>
              <div class="advant__content">
                <div class="advant__title">בונוס פלוס</div>
                <div class="advant__text">תהנו מהקניות ואספו בונוסים</div>
              </div>
            </div>
            <div class="advant__item order-2 order-lg-1">
              <div class="advant__icon">
                <svg class="icon ic-delivery-fill" width="47" height="34">
                  <use xlink:href="#ic-delivery-fill"></use>
                </svg>
              </div>
              <div class="advant__content">
                <div class="advant__title">משלוח חינם</div>
                <div class="advant__text">משלוח חינם בכל ההזמנות מעל 99 דולר</div>
              </div>
            </div>
            <div class="advant__item order-1 order-lg-1">
              <div class="advant__icon">
                <svg class="icon ic-24h" width="37" height="48">
                  <use xlink:href="#ic-24h"></use>
                </svg>
              </div>
              <div class="advant__content">
                <div class="advant__title">תמיכה מקוונת 24/7</div>
                <div class="advant__text">התקשרו אלינו:05505766-770</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__content">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-lg-4 footer__col">
          <div class="footer__item">
            <div class="footer__head">קטגוריות פופולאריות</div>
            <div class="footer-menu footer-menu_col">
              <div class="footer-menu__item"><a class="footer-menu__link" href="#">קישור לקטגוריה</a></div>
              <div class="footer-menu__item"><a class="footer-menu__link" href="#">קישור לקטגוריה</a></div>
              <div class="footer-menu__item"><a class="footer-menu__link" href="#">קישור לקטגוריה</a></div>
              <div class="footer-menu__item"><a class="footer-menu__link" href="#">קישור לקטגוריה</a></div>
              <div class="footer-menu__item"><a class="footer-menu__link" href="#">קישור לקטגוריה</a></div>
              <div class="footer-menu__item"><a class="footer-menu__link" href="#">קישור לקטגוריה</a></div>
              <div class="footer-menu__item"><a class="footer-menu__link" href="#">קישור לקטגוריה</a></div>
              <div class="footer-menu__item"><a class="footer-menu__link" href="#">קישור לקטגוריה</a></div>
              <div class="footer-menu__item"><a class="footer-menu__link" href="#">קישור לקטגוריה</a></div>
              <div class="footer-menu__item"><a class="footer-menu__link" href="#">קישור לקטגוריה</a></div>
              <div class="footer-menu__item"><a class="footer-menu__link" href="#">קישור לקטגוריה</a></div>
              <div class="footer-menu__item"><a class="footer-menu__link" href="#">קישור לקטגוריה</a></div>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 footer__col">
          <div class="footer__item">
            <div class="footer__head">אודות החברה</div>
            <div class="footer-contacts">
              <div class="footer-contacts__item">
                <div class="footer-contacts__icon">
                  <svg class="icon ic-marker" width="12" height="16">
                    <use xlink:href="#ic-marker"></use>
                  </svg>
                </div>
                <div class="footer-contacts__text">כתובת משפטית של החברה
                </div>
              </div>
              <div class="footer-contacts__item">
                <div class="footer-contacts__icon">
                  <svg class="icon ic-marker" width="12" height="16">
                    <use xlink:href="#ic-marker"></use>
                  </svg>
                </div>
                <div class="footer-contacts__text">כתובת פיזית של החברה
                </div>
              </div>
              <div class="footer-contacts__item">
                <div class="footer-contacts__icon">
                  <svg class="icon ic-phone" width="16" height="16">
                    <use xlink:href="#ic-phone"></use>
                  </svg>
                </div>
                <div class="footer-contacts__text"><a href="tel:0776675050">077-6675050</a>
                </div>
              </div>
              <div class="footer-contacts__item">
                <div class="footer-contacts__icon">
                  <svg class="icon ic-mail" width="16" height="12">
                    <use xlink:href="#ic-mail"></use>
                  </svg>
                </div>
                <div class="footer-contacts__text"><a href="mailto:example@mail.com">example@mail.com</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-3 col-lg-2 footer__col">
          <div class="footer__item">
            <div class="footer__head">שירות לקוחות</div>
            <div class="footer-menu">
              <div class="footer-menu__item"><a class="footer-menu__link" href="#">תִקשׁוֹרֶת</a></div>
              <div class="footer-menu__item"><a class="footer-menu__link" href="#">עלינו</a></div>
              <div class="footer-menu__item"><a class="footer-menu__link" href="#">תנאי שימוש</a></div>
              <div class="footer-menu__item"><a class="footer-menu__link" href="#">כללי מסירה</a></div>
              <div class="footer-menu__item"><a class="footer-menu__link" href="#">בלוג</a></div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 order-lg-1 order-first footer__col">
          <div class="footer__item">
            <div class="footer__logo"><a href="#"><img src="/assets/img/logo.png" alt=""></a></div>
            <div class="footer-call"><a class="footer-call__link" href="#">
              <div class="footer-call__text">כתוב לנו בכתובת</div>
              <div class="footer-call__icon">
                <svg class="icon ic-whatsapp" width="23" height="23">
                  <use xlink:href="#ic-whatsapp"></use>
                </svg>
              </div></a></div>
            <div class="footer-pay">
              <div class="footer-pay__item"><img src="/assets/img/AMEX.svg" alt=""></div>
              <div class="footer-pay__item"><img src="/assets/img/Paypal.svg" alt=""></div>
              <div class="footer-pay__item"><img src="/assets/img/Mastercard.svg" alt=""></div>
              <div class="footer-pay__item"><img src="/assets/img/Visa.svg" alt=""></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__copyrignt">
    <div class="container">
      <div class="row">
        <div class="col-12">Copyright©Namecompany</div>
      </div>
    </div>
  </div>
</footer>
