<div class="goods-item"><a class="goods-item__img" href="#"><img src="/assets/img/flower1.jpg" alt=""></a>
    <div class="goods-item__content">
        <div class="goods-item__title"><a href="#">שם מוצר</a></div>
        <div class="goods-item__text">תיאור קצר של טובין</div>
        <div class="goods-item__prices"><span class="goods-item__cur-price">₪135</span><sup
                class="goods-item__old-price">₪160</sup></div>
    </div>
    <div class="goods-item__action"><a class="btn" href="#">
            <svg class="icon ic-basket" width="20" height="18">
                <use xlink:href="#ic-basket"></use>
            </svg><span>בזבל</span></a><a class="btn btn_border" href="#">פרטים נוספים</a>
    </div>
</div>