<div class="form-site__top">
    <div class="form-site__title">בחירת אמצעי תשלום</div>
    <div class="form-site__icon">
        <svg class="icon ic-payment" width="26" height="24">
            <use xlink:href="#ic-payment"></use>
        </svg>
    </div>
</div>

<div class="form-site__item">
    <div class="form-site__field">
        <div class="input-radio">
            <input id="radio1" type="radio" name="pay" checked="checked">
            <label class="input-radio__label" for="radio1"><span class="input-radio__mark"></span><span
                    class="input-radio__text">בטלפון</span></label>
        </div>
        <div class="input-radio">
            <input id="radio2" type="radio" name="pay">
            <label class="input-radio__label" for="radio2"><span class="input-radio__mark"></span><span
                    class="input-radio__text">אשראי</span></label>
        </div>
    </div>
</div>