<div class="date-popup active">
    <div class="date-popup__title">למתי תרצו להזמין?</div>
    <div class="date-popup__msg">ד״׳הז^ןמ׳לייומ זה הסתיימו," ניתן להגיע ולקנות במקו^. לצפייה .בתפריט
        היומי לחצו אישור. </div>
    <div class="date-popup__calendar">
        <div class="calendar js-calendar">
            <div class="calendar__top js-calendar-top">
                <div class="calendar__prev js-calendar-prev">
                    <svg class="icon ic-arrow-left" width="9" height="18">
                        <use xlink:href="assets/sprites/sprite.svg#ic-arr-left"></use>
                    </svg>
                </div>
                <div class="calendar__month js-calendar-month"></div>
                <div class="calendar__next js-calendar-next">
                    <svg class="icon ic-arrow-right" width="9" height="18">
                        <use xlink:href="assets/sprites/sprite.svg#ic-arr-right"></use>
                    </svg>
                </div>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Mo</th>
                        <th>Tu</th>
                        <th>We</th>
                        <th>Th</th>
                        <th>Fr</th>
                        <th>Sa</th>
                        <th>Su</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div class="date-popup__btn"><a class="btn btn_small" href="#">אישור</a></div>
    <div class="tooltip">
        <div class="tooltip__content">06-11-2020 עדכן תאריך אספקה</div>
    </div>
</div>