<section class="advant-wrap bg-grey last-elem">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="advant">
                    <div class="advant__item order-3 order-lg-1">
                        <div class="advant__icon">
                            <svg class="icon ic-bonus" width="55" height="38">
                                <use xlink:href="assets/sprites/sprite.svg#ic-bonus"></use>
                            </svg>
                        </div>
                        <div class="advant__content">
                            <div class="advant__title">בונוס פלוס</div>
                            <div class="advant__text">תהנו מהקניות ואספו בונוסים</div>
                        </div>
                    </div>
                    <div class="advant__item order-2 order-lg-1">
                        <div class="advant__icon">
                            <svg class="icon ic-delivery-fill" width="47" height="34">
                                <use xlink:href="assets/sprites/sprite.svg#ic-delivery-fill"></use>
                            </svg>
                        </div>
                        <div class="advant__content">
                            <div class="advant__title">משלוח חינם</div>
                            <div class="advant__text">משלוח חינם בכל ההזמנות מעל 99 דולר</div>
                        </div>
                    </div>
                    <div class="advant__item order-1 order-lg-1">
                        <div class="advant__icon">
                            <svg class="icon ic-24h" width="37" height="48">
                                <use xlink:href="assets/sprites/sprite.svg#ic-24h"></use>
                            </svg>
                        </div>
                        <div class="advant__content">
                            <div class="advant__title">תמיכה מקוונת 24/7</div>
                            <div class="advant__text">התקשרו אלינו:05505766-770</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>