<div class="basket-list__item">

    <div class="basket-list__info">
        <app-delete-item></app-delete-item>
        <div class="basket-list__img" style="background-image:url(assets/img/basket-img.jpg)"></div>
        <div class="basket-list__content">
            <div class="basket-list__name">שם מוצר</div>
            <div class="basket-list__desc">תיאור קצר של טובין</div>
        </div>
    </div>

    <div class="basket-list__bottom">
        <div class="basket-list__counter">
            <div class="basket-list__counter-label">כַּמוּת</div>
            <div class="counter">
                <app-counter-min></app-counter-min>
                <input class="counter__input" type="text" value="0">
                <app-counter-max></app-counter-max>
            </div>
        </div>
        <div class="basket-list__price">₪135</div>
    </div>

</div>