<div class="breadcrumb-wrap d-none d-md-block">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li class="breadcrumb__item"><a class="breadcrumb__link" href="/">
                            <svg class="icon ic-home" width="16" height="14">
                                <use xlink:href="#ic-home"></use>
                            </svg>בית</a></li>
                    <app-breadcrumb-item></app-breadcrumb-item>
                    <app-breadcrumb-item></app-breadcrumb-item>
                </ul>
            </div>
        </div>
    </div>
</div>