<section class="container d-none d-md-block">
    <div class="row">
        <div class="col-12">
            <div class="about">
                <div class="about__content">
                    <div class="about__title">משלוח פרחים</div>
                    <div class="about__text">מחפשים משלוחי פרחים ישירות מחנות הקרובה ליעד ?<br>משלוחי פרחים אצלנו
                        מתבצעים ישירות על
                        ידי חנויות מכל רחבי הארץ שנבחרו בקפידה ונבדקו על פי חוות דעת ומדורגים על ידי
                        הגולשים.<br>לנוחיותכם פתחנו
                        מנוע ייחודי להשוואה שמאפשר לעשות סקר שוק ולקבל הצעה הטובה ביותר מחנות הקרובה ליעד.</div>
                </div>
            </div>

        </div>
    </div>
</section>